@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

/* ---------------
   1. Variables & Mixins
   --------------- */
$color-background-main:rgb(255, 239, 207);
$color-background-navbar:rgb(81, 60, 43);
$color-background-scrollbar-thumb: rgba(48, 48, 48, 0.8);
$color-background-scrollbar-track: rgba(212,212,212,0.5);
$color-background-sprite-active: rgb(83, 62, 31);  
$color-background-sprite: rgb(116, 98, 86);


$color-text-header: rgb(229, 137, 0);
$color-text-subheader: rgb(152, 97, 14);
$color-text-main: rgb(81, 60, 43);
$color-text-overlay: rgb(255, 255, 255);
$color-text-overlay-subtext: rgb(212,212,212);
$color-input-border: rgb(138, 101, 38);

/* ---------------
   2. Animations/Effects
   --------------- */
@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }
    50% {
        opacity: 1;
        transform: scale(1.15);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: scale(1.15) rotate(15deg);
    }
    50% {
        transform: scale(0.95) rotate(-15deg);
    }
    75% {
        transform: scale(1.05) rotate(5deg);
    }
    100% {  
        transform: rotate(0deg);
    }
}
@keyframes pop {
    0%{
        opacity: 0;
    }
    15% {
        opacity: 1;
        transform: scale(1.35);
    }
    45%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
/* ---------------
   3. Global styles
   --------------- */
* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background: $color-background-main;
    color: $color-text-main;
    font-family: 'Raleway', 'Helvetica', 'Segoe UI', sans-serif;
    font-size: 1.375rem;
    height: 100%;

}

.container {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}
a,
a:hover,
a:visited,
a:focus {
    color: inherit;
    text-decoration: inherit;
}
/* ---------------
   4. Page Components
   --------------- */
/* ---------
   4.1 Top Bar
   --------- */
.nav {
    background: $color-background-navbar;
    color: $color-text-overlay;
    flex: 1 0 100%;
    font-family: 'Lato','Helvetica', sans-serif;
    font-size: 1.875em;
    font-weight: 700;
    height: 10vh;
    text-align: center;
    line-height: 1.875em;
}
/* ------------------
   4.2 Section Headers & Containers
   ------------------ */
.section-container {
    text-align: center;
    flex: 1 0 100%;
    height: 90vh;
}
.section-header {
    color: $color-text-header;
    font-family: 'Lato','Helvetica', sans-serif;
    font-size: 4.79em;
    margin: 5% auto 1%;
}
.section-subheader {
    animation-delay: 750ms;
    color: $color-text-subheader;
    font-weight: 300;
    font-size: 2.15em;
    letter-spacing: -0.027em;
    margin: 1% auto 5%;    
}
/* -----------------
   4.3 Category Selection
   ----------------- */
.category-header {
    animation: 1s zoom forwards;
}
.category-selections {
    display: flex;
    flex-flow: row wrap;
    margin: 0 12.5%;
    transition: all ease;
}
.category-option {
    cursor: pointer;
    flex: 25%;
    @for $i from 1 through 3 {
        &:nth-child(#{$i}){
            opacity: 0;
            animation: 1.25s pop forwards;
            animation-delay: $i * 0.75s;
        }
    }        
    .select-icon {
        transition: all 1s;
        &:hover {            
            animation: 1s shake infinite;
        }
    }
}
.category-random {
    flex: 1;
    font-size: 1.75em;
    font-weight: 800;
    margin:0 auto;
}
/* ----------------
   4.4 Location Input 
   ---------------- */
.input-text-location {
    background: none;
    border: none;
    border-bottom: 2px solid $color-input-border;
    display: inline-block;
    font-size: 1.75em;
    margin: 0 auto 0.5em;
    padding: 0.25em 0.5em;
    width: 28vw;
    &:focus,
    &:active,
    &:hover {
        outline: none;
    }
}
.input-text-button {
    transform: translate(-40px,10px);
}
/* --------------------------
   4.4 Search Results - Yelp
   -------------------------- */
.view-search-results {
    display: flex;
    flex-flow: row nowrap;
    height: 90vh;
}
.results-nearby {
    align-items: center;
    display: flex;
    font-family: 'Lato','Helvetica','sans-serif';
    flex-flow: column nowrap;
    font-size: 1.18em;
    font-weight: 700;
    height: 5vh;    
    margin: 0.85em 0;
    > p {
        margin: 0;
    }
}
.display-list-results {
    display: flex;
    flex: 1 0 25%;
    flex-flow: column nowrap;
    max-width: 25vw;
}
.results-list {
    height: 70vh;
    overflow-y: scroll;

    &::-webkit-scrollbar-track
    {
        background-color: $color-background-scrollbar-track;
    }
    
    &::-webkit-scrollbar
    {
        width: 10px;
        background-color: $color-background-scrollbar-thumb;
    }
    
    &::-webkit-scrollbar-thumb
    {
        border-radius: 0px;
        background-color: $color-background-scrollbar-thumb;
    }

}
.result-list-card {
    color: $color-text-overlay;
    height: 16vh;
    max-width: 100%;
    padding: 1em;
    text-align: left;
    & > * {
        margin: 0;
    }
}
.list-name {
    font-size: 1.1em;
}
.list-distance {
    color: $color-text-overlay-subtext;
    font-size: 0.75em;
    font-weight: 100;
}
.toggle-cat {
    display: flex;
    flex-flow: row wrap;
    height: 15vh;
}
.cat-icon {
    background: $color-background-sprite;
    color: $color-text-overlay;
    flex: 1 0 33%;
}
.cat-icon-svg {
    height: 85px;
}
.cat-icon-name {
    margin: 0.05em 0;
}
/* --------------------------
   4.4 Search Results - Map
   -------------------------- */
.display-map-results {
    flex: 3 0 75%;
    max-width: 75vw;
    background: #72ca76;
}